

html {
    background-color: rgb(32, 33, 36);
}

body{
    display: flex;
    /*background-color: darkcyan;*/
    height: 800px;
    width: 1900px;

    /*grid-template-columns: 1920px;
    grid-template-rows: 50px; */
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 1900px;


    /*grid-template-columns: 1900px;
    grid-template-rows: 170px 140px 50px 124px;*/
    /*background-color: aqua;*/
}

#listcontainer {
    display: flex;
    gap: 1500px;
    width: 1900px;
    /*background-color: darkgoldenrod;*/
}
#listbox-1 {
    align-items: center;
    margin: 10px 10px 10px 10px;
    /*background-color: darkgray;*/
    gap: 10px;
}

#listbox-2 {
    align-items: center;
    /*background-color: darkgreen;*/
    gap: 10px;
}


#box-2 {
    align-items: center;
    padding: 70px 0px 10px 0px;
    
    /*background-color: violet;*/
}


#box-3 {
    align-items: center;
    padding: 20px 20px 20px 20px;

    /*background-color: teal;*/
}


#box-4 {
    align-items: center;
    padding: 0px 0px 412px 0px;

    /*background-color: yellow;*/
}


#listcontainer-2 {
    display: flex;
    width: 1901px;
    background-color: rgb(23, 23, 23);
}
#listbox-3 {
    align-items: center;
    /*background-color: darkgray;*/
    gap: 30px;
}

#listbox-4 {
    align-items: center;
    margin: 0px 0px 0px 1320px;
    /*background-color: darkgreen;*/
    gap: 30px;
}


/*
ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 8px 30px 0px 0px;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    background-color: blue;
    align-items: center;
}

li {
    display: inline;
    padding: 0px 7px 0px 7px;
    margin: 00px 0px 20px 0px;
    background-color: crimson;
    align-items: center;
    
}

.fl {
    
    margin-right: 1500px;
    
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: blueviolet;
    text-decoration: underline;
}
*/

ul {
    display: flex;
    list-style-type: none;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    /*background-color: blue;*/
}

#txt {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

#txt:hover {
    text-decoration: underline;
}

.hs {
    width: 35px;
    height: 35px;
    border-radius: 600px;
    
}

.hs:hover {
    box-shadow: 0 0 0 4px rgb(83, 83, 83);
}




input {
    border-radius: 20px;
    padding: 7px 12px 7px 12px;
    width: 500px;
    color: white;
    background-color: rgb(32, 33, 36);
    border-width: 1px;
    border-color: rgb(82, 86, 90);
    /*background-color: blueviolet;*/
}

input:hover {
    background-color: rgb(48, 49, 52);
    box-shadow: 0 0 10px black;
    border-color: rgb(32, 33, 36);
}


button {
    border-width: 1px;
    border-color: rgb(32, 33, 36);
    border-radius: 5px;
    padding: 7px 12px 7px 12px;
    background-color: rgb(48, 49, 52);
    color: white;
    margin: 0px 5px 0px 5px;
    /*font: sans-serif;*/
    /*background-color: brown;*/
}

button:hover {
    background-color: rgb(48, 49, 52);
    border-width: 1px;
    border-color: rgb(82, 86, 90);
    box-shadow: 0 0 10px black;
    
}

/*
.search {
    position: relative;
    display: flex;
    min-width: 100px;
    max-height: 35px;
    padding: 0px, 20px, 0px, 30px;
}

.search-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35px;
    cursor: pointer;
}

.clear-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    cursor: pointer;
}
*/

















